html, body {
  height: 100%;
}

body {
  background-color: white;
  background-image: url('./bojack-horseman-wallpapers.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.App {
  text-align: center;
}